.button {
  border-radius: 1em;
  padding: 0.5em;
  /*margin-top: 1em;
    margin-bottom: 1em;*/
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--color-tab-inactive);
  box-shadow: 0.3em 0.3em var(--color-tab-inactive-shadow);
  cursor: pointer;
  text-align: center;
  user-select: none;
  border: 0 none;
}

.button.active {
  background-color: var(--color-tab-active);
  box-shadow: 0.3em 0.3em var(--color-tab-active-shadow);
}
