.container {
  background-color: var(--color-warning-yes-transparent);
  margin: 0.5em;
  border-radius: 1em;
  overflow: hidden;
}

.nocopy {
  opacity: 0.5;
}

.monster {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  height: 3em;

  padding-left: 1em;
  padding-right: 1em;
  gap: 0.5em;
}

.monsterImage {
  max-height: 3em;
  max-width: 3em;
  flex-basis: 3em;
}

.monsterName {
  text-align: left;
  flex-grow: 1;
}

.monsterBadge {
  flex-grow: 1;
  text-align: right;
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
}

.chartContainer {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.chartContainer.expanded {
  padding: 8px 16px 16px 16px;
  height: 100px;
}

.loading {
  text-align: center;
  padding: 1rem;
}
