.tabbar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  gap: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (max-width: 1200px) {
  .tabbar {
    grid-auto-flow: initial;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .tabbar {
    grid-auto-flow: initial;
    grid-template-columns: repeat(1, 1fr);
  }
}
